

.navbar{ background: white;
    color: #BEBEBE;

}

.navbar h1{
    background: teal;
    color: white;
    padding-top: 10px;
    margin-left: 20px;
    margin-top: 0px;

}






.page-header{
    color: teal;
    margin-top: 30px;
}

.fixed-bottom{
    background: #BEBEBE;
    text-align: center;
    padding: 20px;
}
