

body{
    border-top: solid 2px black;
    background-color: #F0F0F0;
}

.container{
    background: white;
    float: left;
}
 



.navbar{ background: white;
    color: #BEBEBE;

}

.navbar h1{
    background: teal;
    color: white;
    padding-top: 10px;
    margin-left: 20px;
    margin-top: 0px;

}

.centere {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }





.page-header{
    color: teal;
    margin-top: 30px;
}

.fixed-bottom{
    background: #BEBEBE;
    text-align: center;
    padding: 20px;
    border-top: solid 3px teal;
}
